* {
    margin: 0;
}

h1 {
    font-family: 'Lato', 'sans-serif';
    font-weight: 300;
    font-size: 48px;
}

.header {
    position: relative;
    background-image: linear-gradient(to bottom, #1E90FF, #ADE0FF);
}

.lnner-header {
    height: 85vh;
    width: 100%;
    margin: 0;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /* max-height: 100px;
    max-height: 150px; */
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    /* 延迟2s执行 */
    animation-delay: -2s;
    /* 7s内执行完毕 */
    animation-duration: 3s;
}

.parallax>use:nth-child(2) {
    /* 延迟2s执行 */
    animation-delay: -3s;
    /* 7s内执行完毕 */
    animation-duration: 6s;
}

.parallax>use:nth-child(3) {
    /* 延迟2s执行 */
    animation-delay: -4s;
    /* 7s内执行完毕 */
    animation-duration: 9s;
}

.parallax>use:nth-child(3) {
    /* 延迟2s执行 */
    animation-delay: -45s;
    /* 7s内执行完毕 */
    animation-duration: 10s;
}

.parallax>use:nth-child(4) {
    /* 延迟2s执行 */
    animation-delay: -4s;
    /* 7s内执行完毕 */
    animation-duration: 12s;
}

.parallax>use:nth-child(5) {
    /* 延迟2s执行 */
    animation-delay: -4s;
    /* 7s内执行完毕 */
    animation-duration: 13s;
}

.parallax>use:nth-child(6) {
    /* 延迟2s执行 */
    animation-delay: -5s;
    /* 7s内执行完毕 */
    animation-duration: 15s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}








.xiaochuan_f {
    position: absolute;
    bottom: 5vh;
    right: 15vw;
    height: 42%;
    /* width: %; */
}

.xiaochuan {
    width: 100%;
    height: 100%;
    position: relative;
    animation: move-up-and-down 2s ease-in-out infinite alternate,
        rock-left-and-right 5s linear infinite;
}

@keyframes move-up-and-down {
    0% {
        bottom: 10px;
    }

    50% {
        bottom: 20px;
    }

    100% {
        bottom: 10px;
    }
}

@keyframes rock-left-and-right {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(12deg);
    }

    75% {
        transform: rotateZ(-7deg);
    }

    100% {
        transform: rotateZ(0deg);
    }

}


.cloud_f {
    position: absolute;
    top: 0px;
    left: 0;
    /* background: rgb(37, 179, 235); */
    height: 40%;
    width: 100%;
    overflow: hidden;
}

.yidongqvyv {
    position: absolute;
    height: 100%;
    width: 200vw;
    /* background: #9b1a1a; */
    /* transform: translateX(100vw); */
}

.bankuai {
    float: left;
    height: 100%;
    width: 100vw;
    /* background: #000; */
}



.blackground1 {
    background-image: url(../img/index_img/云1.png);
    background-repeat: no-repeat;
    background-size: 40vw 20vh;
    background-position: 8vw 16vh;
}

.blackground2 {
    background-image: url(../img/index_img/云2.png);
    background-repeat: no-repeat;
    background-size: 60vw 20vh;
    background-position: 12vw 6vh;
}

.blackground3 {
    background-image: url(../img/index_img/云3.png);
    background-repeat: no-repeat;
    background-size: 70vw 30vh;
    background-position: 10vw 4vh;
}

.blackground4 {
    background-image: url(../img/index_img/云4.png);
    background-repeat: no-repeat;
    background-size: 100vw 80vh;
    background-position: 0 -34vh;
}

.yun4 {
    animation: yunDH 25s linear infinite;
}

.yun1 {
    animation: yunDH 6s linear infinite;
}

.yun2 {
    animation: yunDH 11s linear infinite;
}

.yun3 {
    animation: yunDH 9s linear infinite;
}




@keyframes yunDH {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0vw);
    }
}